doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')  
    title= "微信公众平台"
  body
    h3 I look simple, but I play a magic here...
    script(src="/assets/scripts/local_talk.js")

